html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    overflow: hidden;
}

#container {
    position: relative;
}

#screen {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    cursor: crosshair;
}

#container .button {
    position: absolute;
    width: 80px;
    bottom: 40px;
    height: 80px;
    font-size: 60px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#prev {
    left: 40px;
}

#next {
    right: 40px;
}